.BridgeRoot{
    display: flex;
}
.BridgeApp{
    width: 434px;
    min-height: 468px;
    border-radius: 26px;
    background-color: #fff;
    margin: 0px auto;
    margin-top: 50px;
}
.headline{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding: 16px 24px;
    border-bottom: 1px solid #F1F2F4;
}
.from-chain,.to-chain{
    padding: 16px 24px 30px 24px;
    border-bottom: 1px solid #F1F2F4;
    position: relative;
}
.labels{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.labels .tagline{
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}
.labels .balance{
    margin-left: auto;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
.chain1-btn,.chain2-btn{
    background-color: #838891;
    box-shadow: 0px -1px 1px 0px #0000000A inset;
    box-shadow: 0px 1px 3px 0px #00000033;
    min-width: 153px;
    padding: 10px 7px 10px 16px;
    border-radius: 26px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin-bottom: 20px;
}
.chain1-btn img{
    width: 16px;
    height: 16px;
    
}
.inputToken,.outputToken{
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
    text-align: left;
    color: #9299A6;
    outline: none;
    border: none;
}
.inputToken:focus,.inputToken:active,.outputToken:focus,.outputToken:active{
    outline: none;
    border: none;
}
.max-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 8px 10px;
    border-radius: 6px;
    color: #fff;
    background-color: #1557E2;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;

}
.chain2-btn{
    background-color: #1557E2;
}
.review{
    display: flex;
    border-bottom: 1px solid #F1F2F4;;
}
.review-btn{
    background-color: #F1F2F4;
    color:#5E6773;
    width: 386px;
    padding: 17.75px 0px 18.25px 0px;
    border-radius: 26px;
    margin: 20px auto;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}